html,
body {
  width: 100vw;
  margin: 0;
  background-color: #484848;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-grow: 100%;
  color: #fff;
}


.pools {
  flex: 1;
}

.comments {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 350px;
  background-color: #141414;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 10px;
}

.comment {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: #141414;
  color: #fff;
}

#comment {
  flex: 1;
  font-weight: normal;
  white-space: pre-wrap;
  width: auto;
  background-color: rgba(191, 54, 102, .9);
  height: auto;
  margin-top: 5px;
  padding: 5px;
  color: #fff;
}

.name {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: #141414;
  color: #fff;
}

#name {
  flex: 1;
  margin-top: 5px;
  padding: 5px;
  font-weight: normal;
  background-color: rgba(191, 54, 102, .9);
  color: #fff;
}

.share_area {
  display: flex;
  flex-direction: row;
  padding: 5px;
  padding-top: 0px;
  margin: 5px;
  border-radius: 5px;
  background-color: #141414;
  color: #fff;
}

.share_url {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: scroll;
  white-space: nowrap;
  width: 100px;
}

.share {
  flex: 1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  border-width: 0;
  background-color: rgba(126, 28, 62, 0.8);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.pool {
  color: rgba(191, 54, 102, .9);
  background-color: #141414;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
}

.pool h2 {
  margin: 0;
  margin-left: 10px;
}

/* Define the grid container */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 5px;
  margin: 10px;
  /* Adjust the width of the grid based on the longest card name */
  min-width: 250px;
}

/* Define the style for each card */
.card {
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #5a2487b0;

  padding: 10px;
  border-radius: 5px;
}

.card label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  /* other styles for the label element */
}

/* Define the style for the checkbox */
input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

/* Change the background color of the card when the checkbox is checked */
.checked {
  color: #fff;
  background-color: #a45dcab0;
}

@media (max-width: 819px) {
  .container {
    flex-direction: column-reverse;
  }

  .comments {
    width: auto;
    padding: 5px;
    margin: 10px;
  }

}